<div id="inside_column_one" style="margin-left:80px; margin-top:10px;">
  <div id="storywrapperlarge"></div>
</div>
<%= simple_form_for @volunteer do |f| %>
  <h2>Arts and Creative</h2>
  <%= f.input :still_photography, as: :boolean %>
  <%= f.input :video_production, as: :boolean %>
  <%= f.input :graphic_design, as: :boolean %>
  <%= f.input :voice_acting, as: :boolean %>
  <%= f.input :set_design, as: :boolean %>
  <%= f.input :screenwriter, as: :boolean %>
  <%= f.input :web_design, as: :boolean %>
  <%= f.input :composer, as: :boolean %>
  <%= f.input :motion_graphics, as: :boolean %>
  <div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
    <h2>Analysis and Information Technology</h2>
    <%= f.input :data_mining, as: :boolean %>
    <%= f.input :process_analysis, as: :boolean %>
    <%= f.input :programming, as: :boolean %>
    <%= f.input :arc_view, as: :boolean %>
    <%= f.input :excel, as: :boolean %>
    <%= f.input :email_marketing, as: :boolean %>
    <%= f.input :sql, as: :boolean %>
  </div>
  <div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
    <h2>Election Experience</h2>
    <%= f.input :trained_on_libe, as: :boolean %>
    <%= f.input :canvassing, as: :boolean %>
    <%= f.input :trained_on_liberalist, as: :boolean %>
    <%= f.input :telemarketing, as: :boolean %>
    <%= f.input :campaign_manager, as: :boolean %>
    <%= f.input :digital_ad_buying, as: :boolean %>
  </div>
  <div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
    <h2>Other</h2>
    <%= f.input :printing, as: :boolean %>
    <%= f.input :ad_buying, as: :boolean %>
    <%= f.input :screen_printing, as: :boolean %>
    <%= f.input :accounting, as: :boolean %>
  </div>
  <div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
    <p>If you have any physical limitations let us know, and better yet, let us know what we can do to accomodate you.</p>
    <p></p>
    <%= f.input :physical_limitation, as: :text, :rows => 3, :cols => 50, :class => "volunteer_textfield" %>
  </div>
  <div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
    <p>If you posses a skill you think we’ve overlooked tell us about it</p>
    <p></p>
    <%= f.input :skill_set_note, as: :text, :rows => 3, :cols => 50, :class => "volunteer_textfield" %>
    <br/>
    <p style="width: 1px; height: 1px; overflow: hidden;">
      <%= f.input :comment, as: :text, :size => 30, :class => "volunteer_textfield" %>
    </p>
  </div>
  <div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
    <%= f.button :submit %>
    <br/>
    <div class="defaultbody">
      <%= @submit_volunteer_error %>
    </div>
  </div>
<% end %>
