%h1
  = t('volunteer')
%p{style: "width:420px;"}
  = t("volunteer_heading", :riding_name => (current_user.nil? ? "" : current_user.riding.title))
%br
%br
%p
  = t("volunteer_second_paragraph")

-if current_user.nil?

  = simple_form_for(@volunteer, :html => {:class => 'form-horizontal' }) do |f|
    = f.error_notification
    - if current_user.nil?
      = render 'shared/partial_user', user: :user
  = simple_form_for(@volunteer, :html => {:class => 'form-horizontal' }) do |f|
    %h2
      = t("interests")
    %br/
    %div{style: "clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;"}
      %h2
        = t("availability")
      %div{style: "float:left;"}
        = f.input :availability_weekdays, as: :boolean, :label => t("weekdays")
        = f.input :availability_weeknights, as: :boolean, :label => t("weeknights")
        = f.input :availability_weekends, as: :boolean, :label => t("weekends")
      %div{style: "clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;"}
    = f.button :submit

  - unless current_user.nil?  
    -if current_user.volunteer
      %h1
        = t("thank_you")
      %p
        = raw(@volunteer_result.gsub("\n", "<br />"))
      %p
        = link_to 'Tell us more detail about you', '/VolunteerExtendedProfile'

- else
  %h1
    You're Registered! Thanks #{raw(current_user.first_name + ' ' + current_user.last_name)}!
  %p
    Here is your information:
    %br/
    = raw(current_user.first_name + ' ' + current_user.last_name)
    %br/
  %p 
    = current_user.address
  %p 
    = current_user.postal_code
  %p 
    = current_user.city
  %p 
    = current_user.phone_number
  %p 
  = current_user.email
  %p{style: "width:420px;"} We’ll email you with some opportunities. But If you have a moment now, please help us by filling in your skills so we know how to maximize your skills.
  %br/
  %h2 Skills Survey
  %br/
  %p Campaigns will always need people to canvass and work the phones, but it doesn’t end there. If you’re interested in dedicating your special talents to a good cause you can start by letting us know what you’re good at - we may have some special projects for you to consider.
  %br/
  = render 'extended'

%div{style: "display:block; clear:both;"}

  
