%h1
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
    %br
  = t(:profile)
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.input :email, :required => true, :autofocus => true
  = f.input :first_name
  = f.input :last_name
  / = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
  / = f.input :password_confirmation, :required => false
  / = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
  = f.input :address
  = f.input :postal_code
  = f.input :city
  = f.input :phone_number, :size => 30
  = f.input :birthday, as: :date, start_year: 1920, end_year: Date.today.year
  /= #image_tag(@user.image_url) unless @user.image_url.nil?
  / = f.label :image, "or image URL"
  / = f.file_field :image
  %br
  /= render 'shared/volunteer_extended', :locals => {:user => @user}
  = f.button :submit, 'Update', :class => 'btn-primary'
= devise_error_messages!
= flash[:notice]
= render "devise/shared/links"