<div id="inside_column_one" style="margin-left:80px; margin-top:10px;">
<div id="storywrapperlarge">
<% if @volunteer_result == nil %>
	<h1>You're Registered! Thanks <%= raw(@olp_user.first_name + ' ' + @olp_user.last_name) %>!</h1>
	<br />
	
	<p>
		Here is your information:<br />
		<%= raw(@olp_user.first_name + ' ' + @olp_user.last_name) %><br />
		<%= if @olp_user.address != nil && @olp_user.address != '' then raw(@olp_user.address + '<br />') end %>
		<%= if @olp_user.city != nil && @olp_user.city != '' then raw(@olp_user.city + '<br />') end %>
		<%= if @olp_user.postal_code != nil && @olp_user.postal_code != '' then raw(@olp_user.postal_code + '<br />') end %>
		<%= if @olp_user.phone_number != nil && @olp_user.phone_number != '' then raw(@olp_user.phone_number + '<br />') end %>
		<%= raw(@olp_user.email) %><br />
	</p>
	<br />
	
	<p style="width:420px;">We’ll email you with some opportunities. But If you have a moment now, please help us by filling in your skills so we know how to maximize your skills.</p>
	<br />
	<h2>Skills Survey</h2>
	<br />
	<p>Campaigns will always need people to canvass and work the phones, but it doesn’t end there. If you’re interested in dedicating your special talents to a good cause you can start by letting us know what you’re good at - we may have some special projects for you to consider.</p>
	<br />
	<% form_tag do %>
		<h2>Arts and Creative</h2>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended01', 'StillPhotography', @volunteer_extended_flag_01, :class => "volunteer_checkbox" %>&nbsp;Still Photography</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended02', 'VideoProduction', @volunteer_extended_flag_02, :class => "volunteer_checkbox" %>&nbsp;Video Production</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended03', 'GraphicDesign', @volunteer_extended_flag_03, :class => "volunteer_checkbox" %>&nbsp;Graphic Design (RGD)</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended04', 'VoiceActingModelling', @volunteer_extended_flag_04, :class => "volunteer_checkbox" %>&nbsp;Voice Acting/Modelling</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended05', 'SetDesign', @volunteer_extended_flag_05, :class => "volunteer_checkbox" %>&nbsp;Set Design</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended06', 'ScreenwriterCopyWriter', @volunteer_extended_flag_06, :class => "volunteer_checkbox" %>&nbsp;Screenwriter/Copy Writer</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended07', 'WebDesignHTML', @volunteer_extended_flag_07, :class => "volunteer_checkbox" %>&nbsp;Web Design (HTML)</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended08', 'ComposerMusician', @volunteer_extended_flag_08, :class => "volunteer_checkbox" %>&nbsp;Composer/Musician</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended09', 'MotionGraphics3DModelling', @volunteer_extended_flag_09, :class => "volunteer_checkbox" %>&nbsp;Motion Graphics/3D Modelling</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended10', 'PhotoshopImageEditing', @volunteer_extended_flag_10, :class => "volunteer_checkbox" %>&nbsp;Photoshop/Image Editing</div>

		<br />
		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">

		<h2>Analysis and Information Technology</h2>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended11', 'Datamininganalysisspss', @volunteer_extended_flag_11, :class => "volunteer_checkbox" %>&nbsp;Data mining/analysis/spss</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended12', 'Processanalysis', @volunteer_extended_flag_12, :class => "volunteer_checkbox" %>&nbsp;Process analysis</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended13', 'Programming', @volunteer_extended_flag_13, :class => "volunteer_checkbox" %>&nbsp;Programming (VB, C#, Ruby etc...)</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended14', 'ArcViewGISmapping', @volunteer_extended_flag_14, :class => "volunteer_checkbox" %>&nbsp;ArcView/GIS mapping</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended15', 'Excelandspreadsheets', @volunteer_extended_flag_15, :class => "volunteer_checkbox" %>&nbsp;Excel and spreadsheets</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended16', 'EmailMarketingandexecution', @volunteer_extended_flag_16, :class => "volunteer_checkbox" %>&nbsp;Email Marketing and execution</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended17', 'SQL', @volunteer_extended_flag_17, :class => "volunteer_checkbox" %>&nbsp;SQL</div>

		<br />
		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">

		<h2>Election Experience</h2>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended21', 'TrainedonLibE', @volunteer_extended_flag_21, :class => "volunteer_checkbox" %>&nbsp;Trained on LibE</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended22', 'Canvassing', @volunteer_extended_flag_22, :class => "volunteer_checkbox" %>&nbsp;Canvassing</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended23', 'TrainedonLiberalist', @volunteer_extended_flag_23, :class => "volunteer_checkbox" %>&nbsp;Trained on Liberalist</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended24', 'TelemarketingTeleresearch', @volunteer_extended_flag_24, :class => "volunteer_checkbox" %>&nbsp;Telemarketing/Tele-research</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended25', 'CampaignManager', @volunteer_extended_flag_25, :class => "volunteer_checkbox" %>&nbsp;Campaign Manager</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended26', 'Digitaladbuying', @volunteer_extended_flag_26, :class => "volunteer_checkbox" %>&nbsp;Digital ad buying</div>

		<br />
		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">

		<h2>Other</h2>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended31', 'PrintingPrintAcquisition', @volunteer_extended_flag_31, :class => "volunteer_checkbox" %>&nbsp;Printing/Print Acquisition</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended32', 'Adbuying', @volunteer_extended_flag_32, :class => "volunteer_checkbox" %>&nbsp;Ad buying</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended33', 'Screen Printing', @volunteer_extended_flag_33, :class => "volunteer_checkbox" %>&nbsp;Screen Printing</div>
		<div class="defaultbody"><%= check_box_tag 'volunteerextended34', 'Accounting', @volunteer_extended_flag_34, :class => "volunteer_checkbox" %>&nbsp;Accounting</div>

		<br />
		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
		
		<p>If you have any physical limitations let us know, and better yet, let us know what we can do to accomodate you. <p/>
        <%= text_area_tag 'volunteerextended91', @physical_limitation, :rows => 3, :cols => 50, :class => "volunteer_textfield" %><br />

		<br />
		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">

		<p>If you posses a skill you think we’ve overlooked tell us about it<p/>
        <%= text_area_tag 'volunteerextended92', @skill_set_note, :rows => 3, :cols => 50, :class => "volunteer_textfield" %><br />

		<p style="width: 1px; height: 1px; overflow: hidden;">
		<%= text_field_tag 'volunteercommet', nil, :size => 30, :class => "volunteer_textfield" %><br />
		</p>

		<br />
		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">

		<%= submit_tag (@language == 'FR' ? 'Envoyer' : 'Submit'), :class => "volunteer_submit_button" %><br />
		<div class="defaultbody"><%= @submit_volunteer_error %></div>
		</div>
	<% end %>
<% else %>
	<h1><%= if @language == 'FR' then 'Merci' else 'Thank you' end %>!</h1>
	<br />
	<p><%= raw(@volunteer_result.gsub("\n", "<br />")) %></p><br />
<% end %>

</div>
</div>
