<h2>Sign in</h2>
<%= flash[:notice] %>
<%= flash[:alert] %>
<%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
<br/>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }, remote: true) do |f| %>
    <%= f.input :email, :autofocus => true, :class => 'rounded' %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean, :wrapper => :inline_checkbox if devise_mapping.rememberable? %>
    <%= f.button :submit, 'Sign in', class: 'btn-primary' %>
    <div id="errors"></div>
<% end %>
<%= render 'users/shared/links' %>