<h2>Sign in</h2>
<%= flash[:notice] %>
<%= flash[:alert] %>
<%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook), :class => "popup", :"data-width" => 600, :"data-height" => 400 %>
<br/>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }, remote: true) do |f| %>
    <%= f.input :email, :autofocus => true, :class => 'rounded' %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean, :wrapper => :inline_checkbox if devise_mapping.rememberable? %>
    <%= f.button :submit, 'Sign in', class: 'btn-primary' %>
    <div id="errors"></div>
<% end %>
<%= render 'users/shared/links' %>

<script>
    function popupCenter(url, width, height, name) {
        var left = (screen.width/2)-(width/2);
        var top = (screen.height/2)-(height/2);
        return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
    }

    $("a.popup").click(function(e) {
        popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
        e.stopPropagation(); return false;
    });
</script>