%h2 Sign in
= flash[:notice]
= flash[:alert]
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to 'Sign in with #{provider.to_s.titleize}', omniauth_authorize_path(resource_name, provider)
    %br
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.input :email, :autofocus => true, :class => 'rounded'
  = f.input :password
  = f.input :remember_me, :as => :boolean, :wrapper => :inline_checkbox if devise_mapping.rememberable?
  = f.button :submit, 'Sign in', :class => 'btn-primary'
= render 'devise/shared/links'
users