
<% if @volunteer_result == nil %>
	<h1><%= if @language == 'FR' then 'Faites du bénévolat' else 'Volunteer' end %></h1>
	<br />
	<p style="width:420px;"><%= if @language == 'FR' then 'Votre aide est très importante pour nous!' else raw('Volunteering for the ' + @web_site_manager.r_name_en + ' Provincial Liberal Association is a great way to get involved in your community while working for a better future for all Ontarians - and having fun!<br /><br />Provincial Liberal Association are successful because of the volunteers like you who get all the different jobs done. Once you complete and submit the volunteer information form below, we will add you to our volunteer distribution list.') end %></p><br />
	<% form_tag do %>
		<p class="formlabel"><%= if @language == 'FR' then 'Prénom :' else 'First Name:' end %><p/>
		<%= text_field_tag 'volunteerfirstname', nil, :size => 50, :class => "rounded" %><br />
		<p class="formlabel"><%= if @language == 'FR' then 'Nom de famille :' else 'Last Name:' end %><p/>
		<%= text_field_tag 'volunteerlastname', nil, :size => 50, :class => "rounded" %><br />
		<p class="formlabel"><%= if @language == 'FR' then 'Adresse :' else 'Address:' end %><p/>
		<%= text_field_tag 'volunteeraddress', nil, :size => 50, :class => "rounded" %><br />
		<p class="formlabel"><%= if @language == 'FR' then 'Code postal :' else 'Postal Code:' end %><p/>
		<%= text_field_tag 'volunteerpostalcode', nil, :size => 20, :class => "rounded" %><br />
		<p class="formlabel"><%= if @language == 'FR' then 'Ville :' else 'City:' end %><p/>
		<%= text_field_tag 'volunteercity', nil, :size => 30, :class => "rounded" %><br />
		<p class="formlabel"><%= if @language == 'FR' then 'Numéro de téléphone :' else 'Phone Number:' end %><p/>
		<%= text_field_tag 'volunteerphonenumber', nil, :size => 30, :class => "rounded" %><br />
		<p class="formlabel"><%= if @language == 'FR' then 'Courriel :' else 'Email:' end %><p/>
		<%= text_field_tag 'volunteeremail', nil, :size => 30, :class => "rounded" %><br />

		<br />

		<h2><%= if @language == 'FR' then 'Ma préférence :' else 'Interested in:' end %></h2><br />
		<div style="float:left;">
			<div class="defaultbody"><%= check_box_tag 'volunteercanvassing', 'canvassing', false, :class => "rounded" %>&nbsp;<%= if @language == 'FR' then 'Porte à porte' else 'Canvassing' end %></div>
			<div class="defaultbody"><%= check_box_tag 'volunteersigncrew', 'sign_crew', false, :class => "rounded" %>&nbsp;<%= if @language == 'FR' then "Équipe d'enseignes" else 'Sign Crew' end %></div>
			<div class="defaultbody"><%= check_box_tag 'volunteerdroppingliterature', 'dropping_literature', false, :class => "rounded" %>&nbsp;<%= if @language == 'FR' then 'Distribuer des circulaires' else 'Dropping Literature' end %></div>
			<div class="defaultbody"><%= check_box_tag 'volunteerofficework', 'office_work', false, :class => "rounded" %>&nbsp;<%= if @language == 'FR' then 'Travail de bureau' else 'Office Work' end %></div>
			<div class="defaultbody"><%#= check_box_tag 'volunteerofficework2', 'office_work2', false, :class => "rounded" %>&nbsp;<%= if @language == 'FR' then 'Travail de bureau' else 'Office Work 2' end %></div>
		</div>
		<div style="float:left; margin-left:20px;">
			<div class="defaultbody"><%= check_box_tag 'volunteerelectionday', 'election_day', false, :class => "volunteer_checkbox" %>&nbsp;<%= if @language == 'FR' then "Jour de l'élection" else 'Election Day' end %></div>
			<div class="defaultbody"><%= check_box_tag 'volunteerdriver', 'driver', false, :class => "volunteer_checkbox" %>&nbsp;<%= if @language == 'FR' then 'Conductrice/Conducteur' else 'Driver' end %></div>
			<div class="defaultbody"><%= check_box_tag 'volunteerscrutineer', 'scrutineer', false, :class => "volunteer_checkbox" %>&nbsp;<%= if @language == 'FR' then 'Scrutatrice/Scrutateur' else 'Scrutineer' end %></div>
			<div class="defaultbody"><%= check_box_tag 'volunteerlocalcaptain', 'local_captain', false, :class => "volunteer_checkbox" %>&nbsp;<%= if @language == 'FR' then 'Français:Local Captain' else 'Local Captain' end %></div>
		</div>
		<br />

		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
		<h2><%= if @language == 'FR' then 'Disponibilité' else 'Availability' end %>:</h2><br />
		<div style="float:left;">
			<div class="defaultbody"><%= check_box_tag 'availabilityweekdays', 'weekdays', true, :class => "pure-checkbox" %>&nbsp;<%= if @language == 'FR' then 'Le jour' else 'Weekdays' end %></div>
			<div class="defaultbody"><%= check_box_tag 'availabilityweeknights', 'weeknights', true, :class => "pure-checkbox" %>&nbsp;<%= if @language == 'FR' then 'Soirée' else 'Weeknights' end %></div>
			<div class="defaultbody"><%= check_box_tag 'availabilityweekends', 'weekends', true, :class => "pure-checkbox" %>&nbsp;<%= if @language == 'FR' then 'Fin de semaine' else 'Weekends' end %></div>
		</div>
		<br />
		<div style="clear:left; padding-top:20px; margin-top:20px; margin-bottom:200px;">
		<%= submit_tag (@language == 'FR' ? 'Envoyer' : 'Submit'), :class => "pure-button" %><br />
		<div class="defaultbody"><%= @submit_volunteer_error %></div>
		</div>
	<% end %>
<% else %>
	<h1><%= if @language == 'FR' then 'Merci' else 'Thank you' end %>!</h1>
	<br />
	<p><%= raw(@volunteer_result.gsub("\n", "<br />")) %></p><br />
	<br />
	<p><%= link_to 'Tell us more detail about you', '/VolunteerExtendedProfile' %></p>
<% end %>
<div style="display:block; clear:both;">


