      
	  
	  
	  <h1 class="reverse">About</h1>
       <h2 class="reverse"><%= link_to "Meet Kathleen", "/leader" %></h2>
       <h2 class="reverse"><%= link_to "MPPs", "/lpps" %></h2>
       <h2 class="reverse"><%= link_to "Cabinet", "/cabinet" %></h2>
       <h2 class="reverse"><%= link_to "Candidates", "/candidates" %></h2>
       <h2 class="reverse"><%= link_to "Commissions", "/commissions" %></h2>
       <h2 class="reverse"><%= link_to "History", "/history" %></h2>
       <h2 class="reverse"><%= link_to "PLA Presidents", "/pla_presidents" %></h2>
       <h2 class="reverse"><%= link_to "Executive Council", "/executive_council" %></h2>