.micromenu
  - if !current_user
    = link_to 'Login', new_user_session_path, {:remote => true, 'data-toggle' =>  'modal', 'data-target' => '#myModal' }
    |
    = link_to 'Create Account', new_user_registration_path 
    |
    = link_to 'subscribe', '#'
  - else
    - if current_user.first_name
      = link_to 'Welcome ' + current_user.first_name, my_liberal_index_path
    |
    = link_to 'Profile', edit_user_registration_path 
    |
    = link_to 'Logout', destroy_user_sessioen_path, :method => :delete

= render 'shared/modal'