<div id="sitemenu">

       <div class="col5">
       <h1 class="reverse">About</h1>
       <h2 class="reverse"><%= link_to "Meet Kathleen", "/leader" %></h2>
       <h2 class="reverse"><%= link_to "MPPs", "/mpps" %></h2>
       <h2 class="reverse"><%= link_to "Cabinet", "/cabinet" %></h2>
       <h2 class="reverse"><%= link_to "Candidates", "/candidates" %></h2>
       <h2 class="reverse"><%= link_to "Commissions", "/commissions" %></h2>
       <h2 class="reverse"><%= link_to "History", "/history" %></h2>
       <h2 class="reverse"><%= link_to "PLA Presidents", "/plapresidents" %></h2>
       <h2 class="reverse"><%= link_to "Executive Council", "/executive_council" %></h2>
       </div>

       <div class="col5">
       <h1 class="reverse">Get Involved</h1>
       <h2 class="reverse"><a href="https://contribute.ontarioliberal.ca/home/join">Membership</a></h2>
       <h2 class="reverse"><%= link_to 'Volunteer', new_volunteer_path %></h2>
       <h2 class="reverse"><%= link_to "Events", "/event" %></h2>
       <h2 class="reverse"><%= link_to "Enewsletter", "/enewsletter" %></h2>
       </div>

       <div class="col5">
       <h1 class="reverse"><a href="https://contribute.ontarioliberal.ca/Home/Donate">Donate</a></h1>
       <h2 class="reverse"><a href="https://contribute.ontarioliberal.ca/Home/ABC?edid=9000">ABC (Monthly Contribution)</a></h2>
       <h2 class="reverse"><%= link_to "About Donations", "/aboutdonations" %></h2>
       <h2 class="reverse"><%= link_to "Taxable Benefits", "/taxablebenefits" %></h2>
       <h2 class="reverse"><%= link_to "Eligibility", "/eligibility" %></h2>
       </div>

       <div class="col5">
       <h1 class="reverse">Membership</h1>
       <h2 class="reverse"><a href="https://contribute.ontarioliberal.ca/home/join">Join</a></h2>
       <h2 class="reverse"><a href="https://contribute.ontarioliberal.ca/Home/ABC?edid=9000" %>ABC</a></h2>
       <h2 class="reverse"><%= link_to "Red Trillium", "/redtrillium" %>Red Trillium Club</h2>
       </div>

       <div class="col5">
       <h1 class="reverse">News</h1>
       <h2 class="reverse"><%= link_to "Provincial News", "/news" %></h2>
       <h2 class="reverse"><%= link_to "Photos", "/photos" %></h2>
       <h2 class="reverse"><%= link_to "Video", "/videos" %></h2>
       <h2 class="reverse"><%= link_to "Health Care", "/news?pc=6" %></h2>
       <h2 class="reverse"><%= link_to "Education", "/news?pc=5" %></h2>
       <h2 class="reverse"><%= link_to "Environment", "/news?pc=1" %></h2>
       </div>






</div><!-- closes sitemenu -->

<div style="display:block clear:both;"></div>

<div id="sitemenusecondary"><%= link_to "Privacy Policy", "/privacy" %> | Accessibility | <%= link_to "Contact Us", "/contact" %> </div>
