<div id='sitemenu'>

       <div class='col5'>
       <h1 class='reverse'>About</h1>
       <p><%= link_to 'Meet Kathleen', '/leader', { :class=>'reverse' } %></p>
	   <p><%= link_to 'MPPs', '/mpps', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Cabinet', '/cabinet', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Candidates', '/candidates', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Commissions', '/commissions', { :class=>'reverse' } %></p>
	   <p><%= link_to 'History', '/history', { :class=>'reverse' } %></p>
	   <p><%= link_to 'PLA Presidents', '/pla_presidents', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Executive Council', '/executive_council', { :class=>'reverse' } %></p>
       </div>

       <div class='col5'>
       <h1 class='reverse'>Get Involved</h1>
	   <p><%= link_to 'Membership', 'https://contribute.ontarioliberal.ca/home/join', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Volunteer', new_volunteer_path, { :class=>'reverse' } %></p>
	   <p><%= link_to 'Lawn Sign', new_volunteer_path, { :class=>'reverse' } %></p>
	   <p><%= link_to 'Events', '/events', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Enewsletter', '/enewsletter', { :class=>'reverse' } %></p>
       </div>

       <div class='col5'>
	   <h1><%= link_to 'Donate Now', 'https://contribute.ontarioliberal.ca/Home/Donate', { :class=>'reverse' } %></h1>
	   <p><%= link_to 'ABC (Monthly Contribution)', 'https://contribute.ontarioliberal.ca/Home/ABC?edid=9000', { :class=>'reverse' } %></p>
	   <p><%= link_to 'About Donations', '/aboutdonations', { :class=>'reverse' } %></p>
       <p><%= link_to 'Taxable Benefits', '/taxablebenefits', { :class=>'reverse' } %></p>
       <p><%= link_to 'Eligibility', '/eligibility', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Red Trillium', 'https://contribute.ontarioliberal.ca/redtrillium.htm', { :class=>'reverse' } %></p>
       </div>

       <div class='col5'>
       <h1><%= link_to 'Membership', 'https://contribute.ontarioliberal.ca/home/join', { :class=>'reverse' } %></h1>
	   <p><%= link_to 'Join', 'https://contribute.ontarioliberal.ca/home/join', { :class=>'reverse' } %></p>
       <p><%= link_to 'ABC', 'https://contribute.ontarioliberal.ca/Home/ABC?edid=9000', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Red Trillium', 'https://contribute.ontarioliberal.ca/redtrillium.htm', { :class=>'reverse' } %></p>
       </div>

       <div class='col5'>
       <h1 class='reverse'>News</h1>
	   <p><%= link_to 'Provincial News', '/news', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Photos', '/photos', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Video', '/videos', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Health Care', '/news?pc=6', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Education', '/news?pc=5', { :class=>'reverse' } %></p>
	   <p><%= link_to 'Environment', '/news?pc=1', { :class=>'reverse' } %></p>
       </div>
	   

</div><!-- closes sitemenu -->

<div style='clear:both; display:block; color:white; padding-top:2px;'>

	   <div style='color:white; font-size: 13px;'>
	   <%= link_to 'Privacy Policy', '/privacy', { :class=>'reverse' } %> |
	   <%= link_to 'Accesibility', '/accessibility', { :class=>'reverse' } %> | 
	   <%= link_to 'Contact Us', '/contact', { :class=>'reverse' } %>&nbsp;&nbsp;<span style='position:relative; top:.85em; left:2.85em;'><%= image_tag 'sitemenusocial.png' %></span>
	   </div>
	   
</div>

<div style='clear:both; display:block; color:white; margin-top:20px;'>

	   <span class='tiny' style='color:white;'>
	   Copyright &copy; 2014 Ontario Liberal Party&nbsp;&nbsp;|&nbsp;&nbsp;Authorized by the CFO for the Ontario Liberal Party.
	   </span>
	   
</div>


