<div class="menulengthcheck">

			        <div class="listh1">About</div>
					<div class="listh2"><%= link_to "Kathleen Wynne", "/leader" %></div>
					<div class="listh2"><%= link_to "MPPs", "/mpps" %></div>
					<div class="listh2"><%= link_to "Cabinet", "/cabinet" %></div>
					<div class="listh2"><%= link_to "Candidates", "/candidates" %></div>
					<div class="listh2"><%= link_to "PLA Presidents", "/pla_presidents" %></div>
					<div class="listh2"><%= link_to "Executive Council", "/executive_council" %></div>
					<div class="listh2"><%= link_to "Party History", "/history" %></div>
					<div class="listh2"><%= link_to "Constitution", "/constitution" %></div>
					<div class="listh2">Ontario Liberal Fund</div>
					<div class="listh2"><%= link_to "Contact Us", "/contact" %></div>				

</div>















