<h1 class="pagetitle">Cabinet</h1>
<h2 class="pagesubtitle">Executive Council of Ontario</h2>



		<!------- HERE ARE THE CLASSES FOR THE DATA REPEATER -------->
		<!------- DON'T FORGET THE FRAME CLASS ON IMG -------->
		<% @cabinet_mpps.each do |cabinet_mpp| %>
			<% if cabinet_mpp.cabinet_minister_en != nil && cabinet_mpp.cabinet_minister_en != '' %>
				<div class="photolist">
					<div id="imageholder"><img src="/photos/mpp/mpp_photos/<%= (cabinet_mpp.riding_id + 9000).to_s %>_thumbnail.jpg" class="drop-shadow lifted"></div>
					<div class="photolist_detailholder">
					<div class="listh1"><%= cabinet_mpp.first_name %> <%= cabinet_mpp.last_name %></div>
					<div class="listh2"><%= raw(cabinet_mpp.cabinet_minister_en) %></div>
					</div>
				</div>	
			<% end %>
		<% end %>




<%# pass in pageimageholder background class and main column id and submenu %>
<% content_for :backgroundclass do %>wynne_mpp<% end %>	
<% content_for :main_id do %>mpps_main<% end %>
<% content_for :col4content do %><%= render "shared/sub_menu_about" %><% end %>

