<div>
        <% @documents.each do |document| %>
                <%= raw(document.headline)ch %><br/>
                <%= document.subtitle %><br/>
                <%= document.introduction %><br/>
                <%= document.body %><br/>
                <%= document.author %><br/>
                <%= document.reference_url %><br/>
                <%= document.reference_name %><br/>
                <%= document.attached_photo_ids %><br/>
                <%= document.attached_video_ids %><br/>
                <%= document.attached_pdf_ids %><br/>
                <%= document.created_date %><br/>
                <%= document.created_ip %><br/>
                <%= document.created_user_id %><br/>
                <%= document.updated_ip %><br/>
                <%= document.language %><br/>
                <%= document.helpfulness_rating %><br/>
                <%= document.applicability_rating %><br/>
                <%= document.allow_comment %><br/>
                <%= document.published %><br/>
                <%= document.copy_protect %><br/>
                <%= document.document_date %><br/>
                <%= document.display_date %><br/>
                <%= document.expiry_date %><br/>
                <%= document.image_name %><br/>
                <%= document.publish_on_olp %><br/>
                <%= document.publish_on_mpp %><br/>
                <%= document.publish_on_pla %><br/>
                <%= document.publish_on_elect %><br/>
                <%= document.partisan %><br/>
                <%= document.author_photo %><br/>
                <%= document.is_draft %><br/>
                <%= document.riding_id %><br/>
                <%= document.web_site %><br/>
                <%= document.user_id %><br/>
                <%= document.updated_time %><br/>
        <% end %>
</div>
<%= paginate @documents %>