:javascript
  function fbShare(url, title, descr, image, winWidth, winHeight) {

      var winTop = (screen.height / 2) - (winHeight / 2);

      var winLeft = (screen.width / 2) - (winWidth / 2);

      window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);

  }
%h1= raw(@current_document.headline)
%h2= raw(@current_document.subtitle)
%a{href: "https://twitter.com/intent/tweet?text=#{raw(@current_document.headline + '&hashtags=onpoli')}#{raw("&url=")}#{raw('http://' + request.host + request.fullpath)}"} Twitter w hashtag
/ <a href="javascript:fbShare('http://jsfiddle.net/stichoza/EYxTJ/', 'Fb Share', 'Facebook share popup', 'http://goo.gl/dS52U', 520, 350)">Share</a>
- if @current_document_photo
  %a{href: "javascript:fbShare('#{raw('http://' + request.host + request.fullpath)}','#{raw(@current_document.headline)}, 'Facebook share popup',#{image_tag(photo_to_local('http://pantone201.ca/webskins/olp/photos/' + @current_document_photo.temp_id.to_s + "_" + @current_document_photo.riding_id.to_s + @current_document_photo.filename + '_PhotoUp.jpg'), :class => 'frame', :width => '696' )}, 520, 350)"} Share
/ AddThis Button BEGIN
#sharethiswrapper
  .addthis_toolbox.addthis_default_style
    %a.addthis_button_compact{href: "http://addthis.com/bookmark.php?v=250"} Share
    %span.addthis_separator  
    %a.addthis_button_facebook
    %a.addthis_button_twitter
    %a.addthis_button_email
    %span.addthis_separator  
    %a.addthis_button_facebook_like
    :javascript
      var addthis_config = {"data_track_clickback":true};
    %script{src: "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5150c0b15241e409", type: "text/javascript"}
/ AddThis Button END
- if @current_document_photo != nil
  .storywrapperimg707
    = image_tag(photo_to_local('http://pantone201.ca/webskins/olp/photos/' + @current_document_photo.temp_id.to_s + "_" + @current_document_photo.riding_id.to_s + @current_document_photo.filename + '_PhotoUp.jpg'), :class => 'frame', :width => '696' )
= raw(@current_document.body)
%br/
%br/
%p
  - if @current_document.author != nil && @current_document.author.strip != ''
    Author: #{raw(@current_document.author)}
    %br/
  - if @current_document.reference_name != nil && @current_document.reference_name.strip != ''
    - if @current_document.reference_url != nil && @current_document.reference_url.strip != ''
      From:
      %a{href: @current_document.reference_url}= raw(@current_document.reference_name)
    - else
      From: #{raw(@current_document.reference_name)}
- if @current_document_attachments != nil && @current_document_attachments.length > 0
  %p Attachments:
  - @current_document_attachments.each do |document_attachment|
    - if document_attachment.attachment_type == 4
      %p
        = raw(document_attachment.title)
        %br/
        = raw(document_attachment.description)
        %br/
        = link_to image_tag('/stylesheets/img/mp3_icon.png'), 'http://pantone201.ca/webskins/olp/pdf/' + document_attachment.id.to_s + "." + 'mp3', :target => '_blank'
    - elsif document_attachment.attachment_type == 3
      %p
        = raw(document_attachment.title)
        %br/
        = raw(document_attachment.description)
        %br/
        = link_to image_tag('/stylesheets/img/ppt_icon.png'), 'http://pantone201.ca/webskins/olp/pdf/' + document_attachment.id.to_s + "." + 'ppt', :target => '_blank'
    - elsif document_attachment.attachment_type == 2
      %p
        = raw(document_attachment.title)
        %br/
        = raw(document_attachment.description)
        %br/
        = link_to image_tag('/stylesheets/img/doc_icon.png'), 'http://pantone201.ca/webskins/olp/pdf/' + document_attachment.id.to_s + "." + 'doc', :target => '_blank'
    - else
      %p
        = raw(document_attachment.title)
        %br/
        = raw(document_attachment.description)
        %br/
        = link_to image_tag('/stylesheets/img/pdf_icon.png'), 'http://pantone201.ca/webskins/olp/pdf/' + document_attachment.id.to_s + "." + 'pdf', :target => '_blank'
/ AddThis Button BEGIN
#sharethiswrapper
  .addthis_toolbox.addthis_default_style
    %a.addthis_button_compact{href: "http://addthis.com/bookmark.php?v=250"} Share
    %span.addthis_separator  
    %a.addthis_button_facebook
    %a.addthis_button_twitter
    %a.addthis_button_email
    %span.addthis_separator  
    %a.addthis_button_facebook_like
    :javascript
      var addthis_config = {"data_track_clickback":true};
    %script{src: "http://s7.addthis.com/js/250/addthis_widget.js#pubid=filthyterrible", type: "text/javascript"}
/ AddThis Button END
.modulebreak{style: "padding-top:30px;"}  
%h2 Comment on this story:
%comments{href: "http://dev.olp.myliberal.org/#{raw(request.env['REQUEST_URI'])}", num_posts: "200"}