<div>
        <% @documents.each do |document| %>
                <div sytle="border:1px solid black">
                        <h1>ID: <%= document.temp_id %></h1>
                        <h2>headline</h2><%= raw document.headline %><br/>
                        <h2>subtitle</h2><%= raw document.subtitle %><br/>
                        <h2>introduction</h2><%= raw document.introduction %><br/>
                        <h2>body</h2><%= raw document.body %><br/>
                        <h2>author</h2><%= document.author %><br/>
                        <h2>reference_url</h2><%= document.reference_url %><br/>
                        <h2>reference_name</h2><%= document.reference_name %><br/>
                        <h2>attached_photo_ids</h2><%= document.attached_photo_ids %><br/>
                        <h2>attached_video_ids</h2><%= document.attached_video_ids %><br/>
                        <h2>attached_pdf_ids</h2><%= document.attached_pdf_ids %><br/>
                        <h2>created_date</h2><%= document.created_date %><br/>
                        <h2>created_ip</h2><%= document.created_ip %><br/>
                        <h2>created_user_id</h2><%= document.created_user_id %><br/>
                        <h2>updated_ip</h2><%= document.updated_ip %><br/>
                        <h2>language</h2><%= document.language %><br/>
                        <h2>helpfulness_rating</h2><%= document.helpfulness_rating %><br/>
                        <h2>applicability_rating</h2><%= document.applicability_rating %><br/>
                        <h2>allow_comment</h2><%= document.allow_comment %><br/>
                        <h2>published</h2><%= document.published %><br/>
                        <h2>copy_protect</h2><%= document.copy_protect %><br/>
                        <h2>document_date</h2><%= document.document_date %><br/>
                        <h2>display_date</h2><%= document.display_date %><br/>
                        <h2>expiry_date</h2><%= document.expiry_date %><br/>
                        <h2>image_name</h2><%= document.image_name %><br/>
                        <h2>publish_on_olp</h2><%= document.publish_on_olp %><br/>
                        <h2>publish_on_mpp</h2><%= document.publish_on_mpp %><br/>
                        <h2>publish_on_pla</h2><%= document.publish_on_pla %><br/>
                        <h2>publish_on_elect</h2><%= document.publish_on_elect %><br/>
                        <h2>partisan</h2><%= document.partisan %><br/>
                        <h2>author_photo</h2><%= document.author_photo %><br/>
                        <h2>is_draft</h2><%= document.is_draft %><br/>
                        <h2>riding_id</h2><%= document.riding_id %><br/>
                        <h2>web_site</h2><%= document.web_site %><br/>
                        <h2>user_id</h2><%= document.user_id %><br/>
                        <h2>updated_time</h2><%= document.updated_time %><br/>
                        <%= link_to "Details", olpadmin_toolkit_show_url(document.temp_id) %>
                </div>
        <% end %>
</div>