<h1 class="pagetitle">Liberal Candidates</h1>
<h2 class="pagesubtitle">Ontario Liberal Candidates for Provincial Parliament</h2>


		<!-------y HERE ARE THE CLASSES FOR THE DATA REPEATER -------->
		<!------- DON'T FORGET THE FRAME CLASS ON IMG -------->
		<%# @web_site_managers.each do |web_site_manager| %>
		<% @candidates.each do |candidate| %>
			<% if candidate.published %>
				<div class="photolist">
					<div id="imageholder"><img src="http://pantone201.ca/webskins/vote/candidate_photos/<%= (candidate.riding_id + 9000).to_s %>_thumbnail.jpg" class="drop-shadow lifted"></div>
					<div class="photolist_detailholder">
						<div class="listh1"><%= candidate.first_name %> <%= candidate.last_name %></div>
						<div class="listh2"><%= candidate.riding_id %></div>
						<a href="http://<%= candidate.web_site %>" target="_blank">website</a>
					</div>
				</div>	
			<% end %>
		<% end %>



<div style="clear:both; display:block;">&nbsp;</div>

<%# pass in pageimageholder background class and main column id and submenu %>
<% content_for :backgroundclass do %>wynne_mpp<% end %>	
<% content_for :main_id do %>mpps_main<% end %>
<% content_for :col4content do %><%= render "shared/sub_menu_about" %><% end %>
