<% @documents.each do |document| %>
        <div class="listh1"><%= link_to raw(document.headline), '/news/' + document.id.to_s + '?l=' + @language %></div>
        <div class="listh2"><%= link_to raw(document.subtitle), '/news/' + document.id.to_s + '?l=' + @language %></div>
        <div class="detail small last" style="display:block;"><span class="posted"><%= if @language == 'FR' then 'Publié' else 'Posted' end %>:&nbsp;</span><%= raw(localized_date_str(document.document_date, @language)) %></div>
        <div style="display:block; clear:left; padding-bottom:3px; height:6px;">&nbsp;</div>
        <% end %>
        <%= paginate @news_documents %>
<% end %>