<ul>
  <li>
    <%= link_to "all", "#{admin_documents_url}?doc_type=0"%>
  </li>
  <li>
    <%= link_to "toolkit", "#{admin_documents_url}?doc_type=20"%>
  </li>
</ul>

<% @documents.each do |document| %>
     <%= link_to "Edit this document", edit_admin_document_path(document) %>
  <%= link_to "Delete this document", admin_document_path(document), method: :delete %>
      <!-- <p>ID: <%= document.temp_id %></p> -->
      <div class="listh1 grey"><%= raw document.headline %></div>
      <div class="listh2 red"><%= raw document.subtitle %></div>
      <div class="hrbreake7e6e7">&nbsp;</div>
      <p class="red"><%= link_to "Edit this document", edit_admin_document_path(document) %></p>
      <div class="hrbreake7e6e7">&nbsp;</div>
      <br><br>
<% end %>