<div class="content">
  <div class="container">
    <br><br>
<!-- ID: <%= @document.temp_id %> -->
         <h1><%= raw @document.headline %></h1>
         <h2><%= raw @document.subtitle %></h2>

               <%= raw @document.body %>

            <div class="hrbreake7e6e7">&nbsp;</div>
               <div style="display:block; border=solid 1px blue;">
               <div style="float:left; width:50px;">           
               
               </div>
                        <div class="hrbreake7e6e7">&nbsp;</div>

                        <p class="tiny"><%= @document.author %></p>
                        <p class="tiny"><%= @document.reference_url %></p>
                        <p class="tiny"><%= @document.reference_name %></p>
                        <p class="tiny"><%= @document.attached_photo_ids %></p>
                        <p class="tiny"><%= @document.attached_video_ids %></p>
                        <p class="tiny"><%= @document.attached_pdf_ids %></p>
                        <p class="tiny"><%= @document.created_date %></p>
                        <p class="tiny"><%= @document.created_ip %></p>
                        <p class="tiny"><%= @document.created_user_id %></p>
                        <p class="tiny"><%= @document.updated_ip %></p>
                        <p class="tiny"><%= @document.language %></p>
                        <p class="tiny"><%= @document.helpfulness_rating %></p>
                        <p class="tiny"><%= @document.applicability_rating %></p>
                        <p class="tiny"><%= @document.allow_comment %></p>
                        <p class="tiny"><%= @document.published %></p>
                        <p class="tiny"><%= @document.copy_protect %></p>
                        <p class="tiny"><%= @document.document_date %></p>
                        <p class="tiny"><%= @document.display_date %></p>
                        <p class="tiny"><%= @document.expiry_date %></p>
                        <p class="tiny"><%= @document.image_name %></p>
                        <p class="tiny"><%= @document.publish_on_olp %></p>
                        <p class="tiny"><%= @document.publish_on_mpp %></p>
                        <p class="tiny"><%= @document.publish_on_pla %></p>
                        <p class="tiny"><%= @document.publish_on_elect %></p>
                        <p class="tiny"><%= @document.partisan %></p>
                        <p class="tiny"><%= @document.user_id %></p>
                        <p class="tiny"><%= @document.updated_time %></p>
            <% unless @document.attached_pdf_ids.nil? %>
              <% @document.attached_pdf_ids.split("|").each do |pdf_id| %>
                <% pdf = Attachment.where(temp_id: pdf_id) %>
                <% unless pdf.count == 0 %>
                  <a href="http://pantone201.ca/webskins/olp/pdf/<%= pdf %>.pdf" target="_blank"><img alt="Pdf_icon" src="http://pantone201.ca/webskins/css/img/pdf_icon.png"></a>
                                 </div>
                  <div style="float:left; clear:right;"><p><a href="http://pantone201.ca/webskins/olp/pdf/<%= pdf %>.pdf" target="_blank">This is the pdf title</a></p><p class="tiny">And this is the description</p></div>
                <% end %>
              <% end %>
            <% end %>
  </div>          
</div>
