<ul>
  <li>
    <%= link_to "donations", "#{olpadmin_transactions_url}?scope=donations"%>(<%= @donation_count %>)
  </li>
  <li>
    <%= link_to "memberships", "#{olpadmin_transactions_url}?scope=memberships"%>(<%= @membership_count %>)
  </li>
  <li>
    <%= link_to "events", "#{olpadmin_transactions_url}?scope=events"%>
  </li>
</ul>

<h1>Listing transactions</h1>

<div id="index_data"></div>
  <%= render partial: "index_scopes" %>
<br/>