<ul>
  <li>
    <%= link_to "donations", "#{admin_transactions_url}?scope=donations"%>(<%= @donation_count %>)
  </li>
  <li>
    <%= link_to "memberships", "#{admin_transactions_url}?scope=memberships"%>(<%= @membership_count %>)
  </li>
  <li>
    <%= link_to "ticket_sales", "#{admin_transactions_url}?scope=events"%>
  </li>
</ul>

<div id="search_box">
  <p>Search for user</p>
  <input type="search" id="transaction_search" data-remote="true" />
</div>
<h1>Listing <%= @scope %> transactions</h1>

<div id="index_data">
    <%= render partial: 'transactions' %>
</div>

<%= javascript_include_tag 'searchbox' %>
<script>
    $('#transaction_search').searchbox({ url: '<%= admin_search_transactions_path %>.js'});

    var ajaxyLoader;

    $( this ).ajaxStart(function() {
        console.log( "Triggered ajaxStart handler." );
        //$('.loader').show();
        ajaxyLoader = new ajaxLoader($('body'), { bgColor: '#fff', duration: 8000, opacity: 0.7 });
    });

    $( this ).ajaxStop(function() {
        console.log( "Triggered ajaxStop handler." );
        //setTimeout(function(){
            ajaxyLoader.remove();
        //}, 3000);
    });
</script>