<ul>
  <li>
    <%= link_to "donations", "#{admin_transactions_url}?scope=donations"%>(<%= @donation_count %>)
  </li>
  <li>
    <%= link_to "memberships", "#{admin_transactions_url}?scope=memberships"%>(<%= @membership_count %>)
  </li>
  <li>
    <%= link_to "events", "#{admin_transactions_url}?scope=events"%>
  </li>
</ul>

<h1>Listing <%= @scope %> transactions</h1>

<div id="index_data"></div>
<%= render partial: "index_scopes" %>