<ul>
  <li>
    <%= link_to "donations", "#{admin_transactions_url}?scope=donations"%>(<%= @donation_count %>)
  </li>
  <li>
    <%= link_to "memberships", "#{admin_transactions_url}?scope=memberships"%>(<%= @membership_count %>)
  </li>
  <li>
    <%= link_to "ticket_sales", "#{admin_transactions_url}?scope=events"%>
  </li>
</ul>

<div id="search_box">
  <p>Search for user</p>
  <input type="search" id="transaction_search" data-remote="true" />
</div>
<h1>Listing <%= @scope %> transactions</h1>

<div id="index_data"></div>
<%= render partial: 'transactions' %>

<%= javascript_include_tag 'searchbox' %>
<script>
    $('#transaction_search').searchbox({ url: '<%= admin_search_transactions_path %>.js'});
</script>