<h1 class="pagetitle">Contact Us</h1>
<h2 class="subtitle">The Ontario Liberal Party</h2>


  <p class="mobile"><a href="tel:1.800.268.7250">1.800.268.7250</a></p>
  <p class="nomobile">1.800.268.7250</p>
  <p class="listp"> Fax: 416.323.9425</p>
  <p class="listp"> info@ontarioliberal.ca </p>
  <p class="listp"> 10 St. Mary Street Suite 210 </p>
  <p class="listp"> Toronto, ON </p>
  <p class="listp"> M4Y 1P9 </p>  


<h3><%= if @language == 'FR' then 'Dites-nous ce que vous en pensez' else 'We\'d love to hear from you!' end %></h3>

<%= form_for @contact, :url => contact_path do |f| %>

  <p><%= if @language == 'FR' then 'Courriel' else 'Email' end %>:<p/>
  <%= f.text_field  :email, :required => true, :autofocus => true, :class => 'submittable' %>

  <p><%= if @language == 'FR' then 'Prénom' else 'First Name' end %>:<p/>
  <%= f.text_field  :first_name, :size => 50, :class=> "rounded" %>

  <p><%= if @language == 'FR' then 'Nom de famille' else 'Last Name' end %>:<p/>
  <%= f.text_field  :last_name, :size => 50, :class=> "rounded" %>

  <p><%= if @language == 'FR' then 'Postal Code' else 'Postal Code' end %>:<p/>
  <%= f.text_field  :postal_code, :size => 10, :class=> "rounded" %>

  <p><%= if @language == 'FR' then 'Phone' else 'Phone' end %>:<p/>
  <%= f.text_field :phone_number, :size => 20,  :class=> "rounded" %>

  <p>Message</p>
  <%= f.text_area :body, :rows => 10, :cols => 50, :class=> "rounded" %>

  <p>Inquiry Category</p>
  <%= f.select :inquiry_type, options_for_select({'General Inquiry' => 'default', 'Technical Issue' => 'technical', 'Questions regarding a donation' => 'donation', 'Questions regarding a ticket purchase' => 'purchase', 'Questions about Membership' => 'membership', 'Typo or Correction' => 'correction'}, 'default') %>
  
  <p>&nbsp;</p>

  <%= f.submit 'Send' %>

  <% @contact.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>
<% end %>

<%# pass in pageimageholder background class and main column id %>
<% content_for :backgroundclass do %>wynneinconversation<% end %>
<% content_for :main_id do %>contact_main<% end %>
