<p id="notice"><%= notice %></p>
<p>prefix <%= @transaction.prefix %></p>
  <%= @transaction.first_name %>
  <%= @transaction.last_name %>
  <%= @transaction.street_address %>
  <%= @transaction.postal_code %>
  <%= @transaction.city %>
  <%= @transaction.telephone %>
  <%= @transaction.email %>
  <%= @transaction.card_name %>
  <%= @transaction.card_security %>
  <%= @transaction.card_expiry %>
  <%= @transaction.card_reference %>
  <%= @transaction.card_type %>
  <%= @transaction.personal %>
  <%= @transaction.company_name %>
  <%= @transaction.user_ip %>
  <%= @transaction.origin_url %>
  <%= @transaction.target_url %>
  <%= @transaction.promo_code %>
  <%= @transaction.gateway_response %>
  <%= @transaction.home_riding %>
  <%= @transaction.type %>
  <%= @transaction.comments %>
  <%= @transaction.complete %>
  <%= @transaction.reference %>
<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
