<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ontario Liberal Party - BETA - Kathleen Wynne - Not for Release</title>
    <%= if @allow_google_index then raw('<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">') else raw('<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">') end %>

    <meta name="keywords" content="ontario Liberal Party - Kathleen Wynne, olp PLA" />
    <meta name="description" content="The Official site of the Ontario Liberal Party" />

    <meta property="og:title" content="More Support for Low-Income Families" />
    <meta property="og:type" content="politician" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Ontario Liberal Party" />
    <meta property="fb:admins" content="100003812622252,686700080,552055122" />
    <meta property="og:description" content="More Support for Low-Income Families" />

    <%= render partial: 'shared/header_scripts' %>

    <%= yield :scripts_for_header %>

  </head>

    <body>
        <%= render partial: 'shared/facebook_login_button' %>
        <div id="errors"></div>

        <div id="logpanel">
           <div class="container">
             <span id="micromenu_placeholder">
                <%= render 'shared/micromenu' %>
             </span>
            </div>
        </div>

        <div id="logoandmenu">
            <div class="container">
            <div class="logo"><%= image_tag "logo-sm.png" %></div>

            <%= render "shared/menu" %>

            </div><!-- closes the .container encompassing the logo and the menu -->
        </div><!-- closes #logoandmenu -->

        <div id="undermenu">
            <div class="container">
                <div style="clear:both; width:100%; display:block;">&nbsp;</div>
            </div>
        </div>
        <!-- Close top container -->

        <div id="pageimageholder" class="<%= yield :backgroundclass %>">
              <div class="container">
                <%= yield %>
              </div>
        </div>

        <div id="footertrigger">
            &nbsp;
        </div>

        <div id="footer">
            <div class="container">
                <%= render 'shared/sitemenu' %>
            </div>
        </div>

       <%= render partial: 'shared/footer_scripts' %>

        <%= yield :scripts_for_body %>

    </body>
</html>
