<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ontario Liberal Party - BETA - Kathleen Wynne - Not for Release</title>
    <%= if @allow_google_index then raw('<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">') else raw('<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">') end %>

    <meta name="keywords" content="ontario Liberal Party - Kathleen Wynne, olp PLA" />
    <meta name="description" content="The Official site of the Ontario Liberal Party" />

    <meta property="og:title" content="More Support for Low-Income Families" />
    <meta property="og:type" content="politician" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Ontario Liberal Party" />
    <meta property="fb:admins" content="100003812622252,686700080,552055122" />
    <meta property="og:description" content="More Support for Low-Income Families" />

    <%= render partial: 'shared/header_scripts' %>

    <!-- Flexslider Lib   -->
    <%= stylesheet_link_tag 'jquery.flexslider.js' %><!-- Homepage only -->
    <%= stylesheet_link_tag 'flexslider.css' %>
  </head>

    <body>
        <%= render 'shared/modal' %>

        <div id="logpanel">
           <div class="container">
             <span id="micromenu_placeholder">
                <%= render 'shared/micromenu' %>
             </span>
            </div>
        </div>

        <div id="logoandmenu">
            <div class="container">
            <div class="logo"><%= image_tag "logo-sm.png" %></div>

            <%= render "shared/menu" %>
            <%= flash[:notice] %>

            </div><!-- closes the .container encompassing the logo and the menu -->
        </div><!-- closes #logoandmenu -->

        <div id="undermenu">
            <div class="container">
                <div style="clear:both; width:100%; display:block;">&nbsp;</div>
            </div>
        </div>
        <!-- Close top container -->

        <div id="pageimageholder" class="<%= yield :backgroundclass %>">
              <div class="container">
                <%= yield %>
              </div>
        </div>

        <div id="footertrigger">
            &nbsp;
        </div>

        <div id="footer">
            <div class="container">
                <%= render 'shared/sitemenu' %>
            </div>
        </div>

        <script>

            $(document).ready(function() {
                // this works -->   $('.col-4').scrollToFixed({ marginTop: 10, limit: $($('h2')[4]).offset().top });
                //  this works too -->  $('.col-4').scrollToFixed({ marginTop: 10, limit: $('#toptrigger').offset().top });
                //    var stickingpoint = $('.col-8').height()-700; // 700 is the height of col-4, the difference is the heightofdiv variable

                var stickingpoint = $('.main').height()-$('.col-4').height();
                $('.col-4').scrollToFixed({ marginTop: 10, limit: stickingpoint });

                $('#footertrigger').scrollToFixed( {
                    bottom: 0,
                    limit: $('#footertrigger').offset().top
                });

                $('#mgmenu1').universalMegaMenu({
                    menu_effect: 'hover_slide',
                    menu_speed_show: 300,
                    menu_speed_hide: 200,
                    menu_speed_delay: 200,
                    menu_click_outside: true,
                    menubar_trigger : false,
                    menubar_hide : false,
                    menu_responsive: true
                });

                // This should only load for News Show
                // Quick check for widows and orphans
                //  $("h1").each(function() {
                //      var html = $('h1').html().split(" ");
                //      html = html.slice(0,5).join(" ") + "<br />" + html.slice(5).join(" ");
                //      $('h1').html(html);
                //  });

                $("h2").each(function() {
                  var wordArray = $(this).text().split(" ");
                  if (wordArray.length > 2) {
                    wordArray[wordArray.length-2] += "&nbsp;" + wordArray[wordArray.length-1];
                    wordArray.pop();
                    $(this).html(wordArray.join(" "));
                  }
                });

            });

            $('#browserInfo').text('Browser (Width : ' + $(window).width() + ' , Height :' + $(window).height() + ' )');

            $(window).resize(function () {
                $('#browserInfo').text('Browser (Width : ' + $(window).width() + ' , Height :' + $(window).height() + ' )');
            });

            $('.body').flowtype({
             minimum   : 500,
             maximum   : 1200,
             minFont   : 11,
             maxFont   : 18,
             fontRatio : 30
            });

            <!-- FlexSlider -->

            // $(function(){
            //   SyntaxHighlighter.all();
            // });
            $(window).load(function(){
                $('.flexslider').flexslider({
                    controlNav: false,
                    touch: true,
                    pauseOnAction: true,
                    animation: "slide",
                    start: function(slider){
                        $('body').removeClass('loading');
                    }
                });
            });

            <!-- emailpopout -->
             $("#emailpopout").click(function(){
                if($("#emailpopout").css('left') == '-240px'){
                  $("#emailpopout").stop().animate({left:'2px'},1000);
                };
                if($("#emailpopout").css('left') == '2px'){
                   $("#emailpopout").stop().animate({left:'-240px'},1000);
                };
            });
         </script>

        <%= yield :scripts_for_body %>

    </body>
</html>
