<% unless current_user.nil? %>
   <% if current_user.identities.count > 0 %>
        <%= image_tag current_user.identities.first.image %>
   <% end %>
<% end %>
<%= javascript_include_tag 'facebook-modal' %>
<%= link_to 'Sign in with facebook', user_omniauth_authorize_path(:facebook), id: 'sign_in', class: 'popup facebook_sign_in', html: {multipart: true}, data: { width: 600, height: 400} %>

<%= simple_form_for(resource, :as => resource_name, :html => { :class => 'form-horizontal' }, :url => registration_path(resource_name), :remote => true) do |f| %>

  <%= f.input :email, required: true, autofocus: true, class: 'submittable form-control tooltip',
                          placeholder: 'Enter Email', title: 'Please enter your email' %>
  <%= f.input :first_name, placeholder: 'First Name', label: false, title: 'Enter your first name' %>
  <%= f.input :last_name, placeholder: 'Last Name', label: false, title: 'Enter your last name' %>
  <%= f.input :password, required: true, placeholder: 'Password', label: false, hint: 'Make sure you can remember your password' %>
  <%= f.input :password_confirmation, required: true, placeholder: 'Repeat Password', label: false, title: 'Repeat your password' %>
    <div class="password_confirmation_error">Password does not match</div>
  <%= f.input :address, placeholder: 'Address', label: false, title: 'Enter your address' %>
  <%= f.input :postal_code, placeholder: 'Postal Code' , input_html: { onblur: 'findRiding("' + find_riding_url + '")', class: 'postal_code' },
              label: false, title: 'Enter your postal code' %>
  <span id='riding_box'></span>
  <%= f.hidden_field :riding_id %>
  <%= f.input :city, placeholder: 'City', label: false, title: 'Enter your city' %>
  <%= f.input :phone_number, as: :tel, :size => 30, placeholder: 'Phone Number', label: false, title: 'Enter your phone number', input_html: {class: 'phone_number'} %>
  <%= f.input :birthday, :input_html => { :class => 'datepicker', value: Date._strptime("%d/%m/%Y") } %>
  <%= f.file_field :image, as: :image_preview, input_html: {preview_version: :thumb} %>
  <%= f.hidden_field :image_cache %>
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
  <div id="errors"></div>
<% end %>

<%= render 'users/shared/links' %>

<script>
    initializeValidation();
</script>

<%= content_for :scripts_for_body do %>

    <script>

        $('#user_email').append('<span id="email_check"></span>');
        var validateEmail = $('#validateEmail');
        $('#user_email').keyup(function () {
            var t = this;
            if (this.value != this.lastValue) {
                if (this.timer) clearTimeout(this.timer);
                //This should be the loading the icon
                $('#email_check').html('<i class="fa-li fa fa-spinner fa-spin"></i>checking availability...');
                this.timer = setTimeout(function () {
                    $.ajax({
                        url: '<%= validate_user_path %>/' + $('#user_email').val(),
                        //data: 'action=check_username&username=' + t.value,
                        dataType: 'json',
                        type: 'get',
                        success: function (j) {
                            //validateEmail.html(j.msg);
                        }
                    });
                }, 200);

                this.lastValue = this.value;
            }
        });

        function popupCenter(url, width, height, name) {
            var left = (screen.width/2)-(width/2);
            var top = (screen.height/2)-(height/2);
            return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
        }

        $("a.popup").click(function(e) {
            vex.hide();
            popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
            e.stopPropagation(); return false;
        });

    </script>
<% end %>